@font-face {
  font-family: "iconfont"; /* Project id 3718520 */
  src: url('iconfont.woff2?t=1688643885636') format('woff2'),
       url('iconfont.woff?t=1688643885636') format('woff'),
       url('iconfont.ttf?t=1688643885636') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-keyboard-del:before {
  content: "\e613";
}

.icon-quanbu:before {
  content: "\e61b";
}

.icon-add:before {
  content: "\e612";
}

.icon-tielu:before {
  content: "\e600";
}

.icon-feiji:before {
  content: "\e655";
}

.icon-zaocan:before {
  content: "\e6e9";
}

.icon-gongjiao1:before {
  content: "\e601";
}

.icon-gongzi:before {
  content: "\e615";
}

.icon-yifu:before {
  content: "\e666";
}

.icon-zaocan1:before {
  content: "\e8b2";
}

.icon-shicai-:before {
  content: "\e61f";
}

.icon-xiangyan:before {
  content: "\e611";
}

.icon--gupiao:before {
  content: "\e60e";
}

.icon-hongbao:before {
  content: "\e8b0";
}

.icon-jijinzhanghu:before {
  content: "\e69b";
}

.icon-nav-details:before {
  content: "\e610";
}

.icon-nav-finds:before {
  content: "\e8af";
}

.icon-arrow-right:before {
  content: "\e61d";
}

.icon-arrow-left:before {
  content: "\eca3";
}

.icon-arrow-top:before {
  content: "\eca4";
}

.icon-arrow-bottom:before {
  content: "\eca5";
}

.icon-rmb:before {
  content: "\e634";
}

.icon-nav-myself:before {
  content: "\e65f";
}

.icon-fenlei:before {
  content: "\e662";
}

.icon-nav-charts:before {
  content: "\eb95";
}

